{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pobrane kategorie</h1>
    <table>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for category in categories %}
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.downloaded}}</td>
        </tr>
    {% endfor %}
{% endblock %}

